<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ricetta del piatto delizioso</title>
  <style>
    .card {
      border: 1px solid #ccc;
      border-radius: 8px;
      margin-bottom: 20px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      flex: 1;
      display: flex;
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      margin-right: 20px;
    }

    .divider {
      border-top: 1px solid #ccc;
      margin-top: 10px;
      padding-top: 10px;
    }
  </style>
</head>
<body class="app-routing-module-container">

<!-- Card dell'immagine e descrizione -->
<div class="card text-justify">
  <img [src]="piatto?.immagine" alt="Immagine della ricetta" style="width: 540px">
  <div>
    <h2>Descrizione breve della ricetta:</h2>
    <p>{{piatto?.descrizione}}.</p>
  </div>
</div>

<!-- Card degli ingredienti -->
<div class="card">
  <h2>Ingredienti:</h2>
  <ul>
    {{piatto?.ingredienti}}
  </ul>
</div>

<!-- Card della procedura di preparazione -->
<div class="card text-justify">
  <h2>Procedura di preparazione:</h2>
  <ol>
    {{piatto?.preparazione}}
  </ol>
</div>

<div class="card text-justify">
  <h3>Prezzo</h3>
  <p>{{piatto?.prezzo}} €</p>
</div>

<!-- Card delle recensioni -->
<div class="card text-justify">
  <h3>Recensioni:</h3>
  <div *ngFor="let recensione of piatto?.recensioni; let last = last">
    <p><strong>Utente:</strong> {{recensione.username}}</p>
    <p><strong>Recensione:</strong> {{recensione.recensione}}</p>
    <!-- Puoi aggiungere altri dettagli della recensione qui -->

    <!-- Aggiunta del divisorio se non è l'ultima recensione -->
    <div *ngIf="!last" class="divider"></div>
  </div>
</div>

</body>
</html>
