<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestione Utenti</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      background-color: white; /* Imposta il colore di sfondo a bianco */
    }

    table, th, td {
      border: 1px solid #ddd;
    }

    th, td {
      padding: 12px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    form {
      margin-top: 20px;
    }

    .action-buttons button {
      margin-right: 5px;
    }
  </style>
</head>
<body class="app-routing-module-container">

<h2>Gestione Utenti</h2>

<!-- Form per aggiungere un nuovo utente -->
<!-- Tabella per visualizzare gli utenti -->
<h3>Lista Utenti</h3>
<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Tipo</th>
    <th>Azioni</th>
  </tr>
  </thead>
  <tbody>
  <!-- Qui dovresti iterare sugli utenti dal database e popolare la tabella -->
  <tr *ngFor="let item of utente">
    <td>{{item.username}}</td>
    <td>{{item.email }}</td>
    <td>{{item.tipo }}</td>
    <td class="action-buttons">
      <button (click)="bannaUtente(item.username)">Banna Utente</button>
      <button (click)="rendiAmministratore(item.username)">Rendi Amministratore</button>
      <button (click)="rendiUtente(item.username)">Rendi Utente</button>
    </td>
  </tr>
  <!-- Altri utenti... -->
  </tbody>
</table>



</body>
</html>
